name: Pull Request Workflow

on:
  pull_request:
    branches:
      - main

jobs:
  deploy-and-test:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install AWS SAM CLI
        run: |
          pip install aws-sam-cli

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_E2E_TEST_ROLE }}
          aws-region: us-east-2

      - name: Make the e2e test script executable
        run: chmod +x e2e_tests/firehose_e2e_tests.sh
             chmod +x e2e_tests/common-scripts.sh
        
      - name: Run end to end tests for Firehose
        env:
          NEW_RELIC_USER_KEY: ${{ secrets.NEW_RELIC_USER_KEY }}
          NEW_RELIC_LICENSE_KEY: ${{ secrets.NEW_RELIC_LICENSE_KEY }}
        run: |
          cd e2e_tests/
          ./firehose_e2e_tests.sh

